@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@import "colors";
@import "header";
@import "home";
@import "socialmediaicons";
@import "skills";
@import "footer";
@import "testimonial";
@import "experience";
@import "about";
@import "blogdetails";
@import "blog";
@import "services";
@import "backtotop";
@import "projects";

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

// scrollbar customisation 
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $main;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// selection  
::selection{
    background: $main;
    color: #fff;
}

// disabling ghost image dragging 
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}