.contact {
    padding: 5rem 1rem 2rem 1rem;

    .head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        padding: 1rem 2rem 1rem 2rem;
        width: 90%;
        margin: 0;


        >h1 {
            font: 900 4.8rem "Open Sans";
            background: -webkit-linear-gradient($main, #3300ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 10px 0;
            line-height: 5rem;
        }

        >img {
            width: 15rem;
            margin: 0 1rem;
            position: absolute;
            z-index: -100;
            bottom: 0px;
            right: 2rem;
        }
    }

    .contactsection {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 80%;

        >.contactimage {
            height: 100%;
            text-align: center;

            >img {
                width: 40%;
                object-fit: contain;
            }

        }

        >.contactform {
            height: 100%;

            >form {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 32vw;

                >div {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border: 1px solid rgb(172, 172, 172);
                    gap: 1rem;
                    margin: 0.8rem 0;
                    padding: 0.8rem;
                    border-radius: 6px;

                    >svg {
                        width: 1.35rem;
                        height: 1.35rem;
                        color: $main;
                    }

                    >input,
                    textarea {
                        width: 100%;
                        border: none;
                        resize: none;
                        outline: none;

                    }
                }

                >button {
                    width: 105%;
                    margin: 0.8rem 0;
                    padding: 0.8rem;
                    border-radius: 6px;
                    outline: none;
                    border: 1px solid gray;
                    background-color: $main;
                    color: white;
                    font: 600 1.1rem "Open Sans";
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .contact {
    
            .head {
                width: 95%;
                padding: 1rem 0;
                margin: 0;
                >h1 {
                    font-size: 10vw;
                }
    
                >img {
                    width: 35vw;
                    bottom: 1rem;
                    right: 0;
                }
            }
    
            .contactsection {
                justify-content: center;
                width: 100%;
    
                >.contactimage {
                    display: none;
                    
                }
    
                >.contactform {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    width: 90vw;
                    margin: 0;
                    >form {
                        width: 80%;
    
                        >div {
    
                            >input,
                            textarea {
                                width: 100%;
                                border: none;
                                resize: none;
                                outline: none;
    
                            }
                        }
    
                        >button {
                            width: 108%;
                            font: 600 1rem "Open Sans";
                        }
                    }
                }
            }
        }
}