.experience {
    padding: 6rem 2rem 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    >.experiencesection {
        padding: 3rem 0rem;
        width: 100%;

        >.head {
            display: flex;
            width: 95%;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            padding: 1rem 2rem 1rem 2rem;

            >h1 {
                font: 900 4.8rem "Open Sans";
                background: -webkit-linear-gradient($main, #3300ff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 10px 0;
                line-height: 5rem;
            }

            >img {
                width: 20rem;
                position: absolute;
                z-index: -100;
                bottom: 2rem;
                right: 2rem;
            }
        }
        .timeline{
            width: 100%;
            
            >.timelinebox{
                width: 100%;
                position: relative;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                
                &::after{
                    content: "";
                    position: absolute;
                    width: 4px;
                    background-color: $main;
                    top: 0;
                    bottom: 0;
                    left: 5%;
                    margin: -3px;
                }
            }
            
            .timelineitem{
                padding: 2rem 3rem;
                display: flex;
                flex-direction: column;
                gap: 5px;
                position: relative;
                width: 65%;
                margin: 1.5rem 2rem;
                left: 18.5%;
                border-radius: 20px;
                border: 3px solid $main;
                transition: all 0.3s ease-in-out;
                
                &::after{
                    content: "";
                    position: absolute;
                    width: 25px;
                    height: 25px;
                    left: -23.2%;
                    background-color: $main;
                    border-radius: 50%;
                    top: 50px;
                    z-index: 1;
                }
                
                &:hover{
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
                }

                &::before{
                    content: "";
                    position: absolute;
                    width: 22%;
                    height: 4px;
                    background-color: $main;
                    left: -22%;
                    top: 60px;
                }

                >h2{
                    font-size: 1.4rem;
                    font-weight: 700;
                    text-transform: uppercase;

                    >svg{
                        color: $main;
                        width: 1.25rem;
                    }
                }
                >h3{
                    font-weight: 700;
                }
            }
        }
    }

    >.achievementsection {
        padding: 3rem 0rem;
        width: 100%;

        >.head {
            display: flex;
            width: 95%;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            padding: 1rem 2rem 1rem 2rem;

            >h1 {
                font: 900 4.8rem "Open Sans";
                background: -webkit-linear-gradient($main, #3300ff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 10px 0;
                line-height: 5rem;
            }

            >img {
                width: 12rem;
                position: absolute;
                z-index: -100;
                bottom: 2rem;
                left: 0rem;
            }
        }

        >.achievementcertificateholder {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            width: 85vw;
            padding: 2rem;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            margin: 2rem auto;

            >img {
                width: 50%;
                object-fit: contain;
                filter: saturate(1.5);
            }

            .info {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 10px;
                position: relative;

                >img{
                    width: 5rem;
                    position: absolute;
                    top: -2rem;
                    right: -2rem;
                }
                >h2 {
                    font-size: 2rem;
                    text-transform: uppercase;
                    color: $main-dark;
                }

                >p {
                    word-spacing: 3px;
                }

                >a {
                    margin: 4px 0px;
                    color: $main;
                    font-weight: 600;
                }
            }
        }
    }

    >.certificationsection {
        padding: 5rem 0rem;

        >.head {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            padding: 1rem 2rem 1rem 2rem;

            >h1 {
                font: 900 4.8rem "Open Sans";
                background: -webkit-linear-gradient($main, #3300ff);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin: 10px 0;
                line-height: 5rem;
            }

            >img {
                width: 12rem;
                position: absolute;
                z-index: -100;
                bottom: 2rem;
                right: 5rem;
            }
        }

        .certificateholder {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            >.certificatecard {
                width: 320px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                height: 100%;
                margin: 1rem;
                padding: 1.5rem;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                transition: all 0.4s ease-in-out;


                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    margin: 0 0 1rem 0;
                    filter: saturate(2);
                }

                >h3 {
                    font: 700 1.2rem "Open Sans";
                    margin: 4px 0px;
                }

                >p {
                    font: 400 0.9rem "Open Sans";
                    margin: 4px 0px;
                }

                >a {
                    background-color: $main;
                    color: white;
                    padding: 6px 12px;
                    border-radius: 5px;
                    margin: 5px 0px;
                    font-size: 0.9rem;
                    transition: all 0.4s ease-in-out;

                    &:hover {
                        box-shadow: 0 0 10px $main-dark;
                    }
                }

                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}


@media screen and (max-width: 880px) {
    .experience {
        .experiencesection {}

        .certificationsection {
            .head {
                >h1 {
                    font-size: 8vw;
                }

                >img {
                    width: 12rem;
                    right: 0;
                }
            }

            .certificateholder {

                .certificatecard {
                    width: 230px;
                    margin: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .experience {
        .experiencesection {}

        .certificationsection {
            padding: 2rem 0rem;

            .head {
                padding: 1rem;

                >h1 {
                    font-size: 9vw;
                }

                >img {
                    width: 10rem;
                    right: -2rem;
                }
            }

            .certificateholder {

                .certificatecard {
                    width: 65vw;
                    margin: 1rem;
                }
            }
        }
    }
}