.servicessection {
    padding: 6rem 2rem 2rem 2rem;

    .head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        padding: 1rem 2rem 1rem 2rem;

        >h1 {
            font: 900 4.8rem "Open Sans";
            background: -webkit-linear-gradient($main, #3300ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin: 10px 0;
            line-height: 5rem;
        }

        >img {
            width: 15rem;
            margin: 0 1rem;
            position: absolute;
            z-index: -100;
            bottom: -2rem;
            right: 0px;
        }
    }

    .servicesholder {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 2rem auto;
        width: 95%;

        .service {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            gap: 1rem;
            width: 20rem;
            height: 20rem;
            padding: 1rem;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
            border: 1px solid white;
            cursor: pointer;

            &:hover {
                border: 1px solid $main;
            }

            >.icon {
                padding: 2rem 2.2rem;
                background-color: $main;
                border-radius: 100%;

                >svg {
                    width: 3rem;
                    height: 3rem;
                    color: white;
                }
            }

            >h2 {
                font: 700 1.1rem "Open Sans";
                background: $main-dark;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            >p {
                font: 400 0.9rem "Open Sans";
                text-align: center;
            }
        }
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $main-light;
        width: 85%;
        margin: 2rem auto;
        border-radius: 10px;
        padding: 2rem;

        >p {
            font: 400 1rem "Open Sans";
            width: 80%;
        }

        >a {
            font-size: 1rem;
            font-weight: 600;
            background-color: $main;
            padding: 10px 18px;
            border-radius: 10px;
            color: white;
            width: 12%;
            text-align: center;
        }
    }
}
@media screen and (max-width: 950px) {
    .servicessection{
        padding: 8rem 2rem;

        .contact {
            align-items: flex-start;
            gap: 1rem;
            margin: auto;
            padding: 1rem 1.5rem;
            
            >p {
                width: 100%;
                font-size: 0.9rem;
            }
            >a{
                width: 20vw;
            }
        }
    }
}
@media only screen and (max-width: 700px) {
    .servicessection {
        padding: 5rem 1rem;
        .head {
            padding: 0;

            >h1 {
                font-size: 10vw;
            }

            >img {
                width: 30vw;
                bottom: 1rem;
            }
        }

        .servicesholder {
            gap: 0;

            .service {
                width: 80vw;
                padding: 0;
            }
        }

        .contact{
            flex-direction: column;

            >a{
                padding: 0.5rem 1rem;
                width: 40vw;
            }
        }
    }
}

